.weiter{
    text-align: center;
}
#weiter {
    border-radius: 43px;
    background-color: #5CB075;
    color: white;
    text-align: center;
    width: 11em;
    height: 3em;
    line-height: 3em;
    margin-top: 20px;
    cursor: pointer;
    border-style: none;
}